FB_TELEGRAM_BOT_TOKEN=
FB_CURRENCY_BEACON_API_KEY=
FB_GEMINI_API_KEY=

FB_POSTGRESQL_USER=root
FB_POSTGRESQL_PASSWORD=admin
FB_POSTGRESQL_DATABASE=finance_bot

FB_TELEGRAM_UPDATES_TYPE=polling
FB_LOGGER_LOG_LEVEL=info
